doctype html
html
  head
    title= title
    count
    link(rel='stylesheet', href='/stylesheets/style.css')
    nav#navbar
                    div#container
                        
                            ul
                               li #[a(href = "/") Home]
                                li #[a(href = "/data") Datatable]
                                li #[a(href = "/task") Task Manager] 
                                li #[a(href = "/cpu") CPU data]
                                li #[a(href = "/msg") Send Message]
                          
                    
                    

  body
    h1 #{title}
    block content
