extends layout
block content
  form(action='someFunction', method='POST')
    p
      | message: 
      input(type='text', name='title', value='')
    input(type='submit', value='Submit', onclick='someFunction()')
